<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- AJAX JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>
<body>
    <h1>Welcome to Twitter hehehhehhe</h1>

    
    <!-- Tweet Form -->
    <div class="">
        <form method="POST" id="post-tweet-form" action="/create-tweet/">
          {% csrf_token %}
          <table>
            <tr>
              <td>Content:</td>
              <td><input type="text" name="content" placeholder="Whats on ur mind" class="form-control" id="content"</td>
            </tr>
          </table>
          <input type="submit" name="submit" value="Create">
        </form>
      </div>

    <!-- List of Tweets -->
    <div id="tweets">
    </div>


    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> 
  
    <!-- JS Local Script -->
    <script src="../../static/js/scriptHome.js"></script>
</body>
</html>