<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../static/css/login.css">


</head>
<body>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-1">
                    <div class="card-body p-md-5 mx-md-4">
    
                        <div class="text-center">
                          <img src="https://cdn.jsdelivr.net/gh/RistekCSUI/cdn@main/main-website/logo/ristekMobile.svg"
                            style="width: 185px;" alt="logo">
                          <h4 class="mt-1 mb-5 pb-1">RISTEK Social Media</h4>
                        </div>
        
                        <form method="POST" action="">
                            {% csrf_token %}
                          <p>Please login to your account</p>
        
                          <div class="form-outline mb-4">
                            <input type="text" name="username" placeholder="Username" class="form-control">
                            <label class="form-label" for="form2Example11">Username</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input input type="password" name="password" placeholder="Password" class="form-control" />
                            <label class="form-label" for="form2Example22">Password</label>
                          </div>
        
                          <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Login">Log
                              in</button>
                          </div>

                          {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}     
            
        
                          <div class="d-flex align-items-center justify-content-center pb-4">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            <a href="{% url 'authentications:register' %}">Buat Akun</a>
                          </div>
        
                        </form>
        
                      </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class = "login">

        <h1>Login</h1>
    
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input class="btn login_btn" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a href="{% url 'authentications:register' %}">Buat Akun</a>
    
    </div> -->

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
    
</body>
</html>
