/*Font*/
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    color: white;
}

/*Body*/
body{
    background-color: #0C182F;
}

.mainContainer{
    margin-top: 40px;
}

/*Navbar*/
.navbar-brand{
    color: white;
}

/* Form */
#buttonSubmit{
    
    color:black;

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 100%;


    background: #FFFFFF;
    box-shadow: 0px 4px 8px #DAEBF3;
    border-radius: 8px;


}

.buttonsTweet{
    padding-bottom: 30px;
}

/*Tweet Card*/

.tweetcard{
    background: linear-gradient(180deg, #213356 0%, #0C182F 100%);
    box-shadow: 6.39689px 6.39689px 19.1907px #1D2E4E;
    border-radius: 25.5876px;
    text-align: left;
}

#tweetDate{
    font-size: small;
}

/*For Testing*/
